.chevron {
  display: block;
  height: auto;
  flex-shrink: 0;
  --chevron-size: var(--chevron-size-md); /* md por defecto */
  width: var(--chevron-size);
  height: var(--chevron-size);
}

.chevron--xs { --chevron-size: var(--chevron-size-xs); }
.chevron--sm { --chevron-size: var(--chevron-size-sm); }
.chevron--md { --chevron-size: var(--chevron-size-md); }
.chevron--lg { --chevron-size: var(--chevron-size-lg); }
.chevron--xl { --chevron-size: var(--chevron-size-xl); }
