.home {
  min-height: 100vh;
  background-color: var(--color-background-default);
}

.home__main {
  margin-block-start: var(--header-height-overlay);
}

@media (min-width: 1440px) /* --breakpoint-2xl */ {
  .home__main {
    margin-block-start: var(--header-height-inline);
  }
}

.home__main > .hero-video {
  height: calc(100vh - var(--header-height-overlay));
}

@media (min-width: 1440px) /* --breakpoint-2xl */ {
  .home__main > .hero-video {
    height: calc(100vh - var(--header-height-inline));
  }
}

/* ---- Section borders ---- */

.home .projects-section,
.home .home__academy,
.home .reviews-section,
.home .clients-section {
  border-block-start: var(--border-width-sm) solid currentColor;
}

/* ---- Courses section ---- */

.home__courses {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 1024px) /* --breakpoint-lg */ {
  .home__courses {
    grid-template-columns: repeat(2, 1fr);
  }
}

