.tag {
  display: inline-block;
  border-radius: var(--tag-border-radius);
  font-family: var(--tag-font-family);
  font-size: var(--tag-font-size);
  font-weight: var(--tag-font-weight);
  line-height: var(--tag-line-height);
  padding-block: var(--tag-padding-block);
  padding-inline: var(--tag-padding-inline);
  white-space: nowrap;
}

.tag--default {
  background-color: var(--tag-default-bg);
  color: var(--tag-default-color);
}

.tag--primary {
  background-color: var(--tag-primary-bg);
  color: var(--tag-primary-color);
}

.tag--accent-1 {
  background-color: var(--tag-accent-1-bg);
  color: var(--tag-accent-1-color);
}

.tag--accent-2 {
  background-color: var(--tag-accent-2-bg);
  color: var(--tag-accent-2-color);
}

.tag--support-1 {
  background-color: var(--tag-support-1-bg);
  color: var(--tag-support-1-color);
}

.tag--support-2 {
  background-color: var(--tag-support-2-bg);
  color: var(--tag-support-2-color);
}
