@import '../../../tokens/components/icon.css';

.icon {
  display: block;
  flex-shrink: 0;
  --icon-size: var(--icon-size-md);
  width: var(--icon-size);
  height: var(--icon-size);
}

.icon--xs { --icon-size: var(--icon-size-xs); }
.icon--sm { --icon-size: var(--icon-size-sm); }
.icon--md { --icon-size: var(--icon-size-md); }
.icon--lg { --icon-size: var(--icon-size-lg); }
.icon--xl { --icon-size: var(--icon-size-xl); }
