.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  background-color: var(--pricing-card-bg);
  color: var(--pricing-card-color);
  padding-inline: var(--pricing-card-padding-inline);
  padding-block-start: var(--pricing-card-padding-block-start);
  padding-block-end: var(--pricing-card-padding-block-end);
  border-radius: var(--pricing-card-border-radius);
  border: var(--pricing-card-border-width) solid var(--pricing-card-border-color);
  box-shadow: var(--pricing-card-shadow);
}

.pricing-card__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex: 1 1 auto;
  gap: var(--pricing-card-gap);
}

.pricing-card__body.pricing-card__body--with-footer {
  padding-block-end: var(--pricing-card-footer-gap-block-start);
}

.pricing-card.pricing-card--featured {
  border-width: var(--pricing-card-featured-border-width);
  border-color: var(--pricing-card-featured-border-color);
}

.pricing-card .pricing-card__featured-label {
  margin-block-end: var(--pricing-card-featured-label-margin-block-end);
}

.pricing-card__plan-name {
  color: var(--pricing-card-plan-name-color);
}

.pricing-card__price-row {
  display: flex;
  align-items: flex-end;
}

.pricing-card__price {
  font-size: var(--pricing-card-price-font-size);
  font-weight: var(--pricing-card-price-font-weight);
  color: var(--pricing-card-price-color);
  line-height: var(--pricing-card-price-line-height);
}

.pricing-card__price-suffix {
  font-size: var(--pricing-card-price-suffix-font-size);
  color: var(--pricing-card-price-suffix-color);
  margin-inline-start: var(--pricing-card-price-suffix-margin-inline-start);
  margin-block-end: var(--pricing-card-price-suffix-margin-block-end);
}

.pricing-card__features {
  align-self: stretch;
}

.pricing-card__feature {
  display: flex;
  align-items: center;
  gap: var(--pricing-card-feature-icon-gap);
}

.pricing-card .pricing-card__arrow,
.pricing-card .pricing-card__footer-button {
  margin-block-start: auto;
}
