.arrow {
  display: block;
  height: auto;
  flex-shrink: 0;
  --arrow-width: var(--arrow-width-md); /* md por defecto */
  width: var(--arrow-width);
}

.arrow--sm { --arrow-width: var(--arrow-width-sm); }
.arrow--md { --arrow-width: var(--arrow-width-md); }
.arrow--lg { --arrow-width: var(--arrow-width-lg); }
