a {
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);
  cursor: var(--link-cursor);
}

a:hover {
  text-decoration: var(--link-text-decoration-hover);
}

a:focus-visible {
  outline: var(--link-focus-ring-width) solid var(--link-focus-ring-color);
  outline-offset: var(--link-focus-ring-offset);
}

/* Dark */
.dark a,
a.link--dark {
  --link-color: var(--link-dark-color);
  --link-focus-ring-color: var(--link-dark-focus-ring-color);
  color: var(--link-dark-color);
}
