.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  color: inherit;
  padding-inline: var(--card-padding-inline);
  padding-block-start: var(--card-padding-block-start);
  padding-block-end: var(--card-padding-block-end);
  gap: var(--card-gap);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
}

.card p {
  font-size: var(--card-description-font-size);
  margin-block-end: var(--card-description-margin-block-end);
}

.card .arrow {
  margin-block-start: auto;
}

.card.card--primary {
  background-color: var(--card-primary-bg);
  color: var(--card-primary-color);
  --text-h1-color: var(--card-primary-color);
  --text-h2-color: var(--card-primary-color);
  --text-h3-color: var(--card-primary-color);
  --text-h4-color: var(--card-primary-color);
  --text-h5-color: var(--card-primary-color);
  --text-h6-color: var(--card-primary-color);
}

.card.card--outline {
  background-color: var(--card-outline-bg);
  color: var(--card-outline-color);
  border: var(--card-outline-border-width) solid var(--card-outline-border-color);
}

.card.card--accent-1  { background-color: var(--color-accent-1); }
.card.card--accent-2  { background-color: var(--color-accent-2); }
.card.card--support-1 { background-color: var(--color-support-1); }
.card.card--support-2 { background-color: var(--color-support-2); }
