/* ─── Section ────────────────────────────────────────────── */
.reviews-section {
  padding-block: var(--section-padding-block-xl);
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
}

.reviews-section > .heading {
  padding-inline: var(--section-padding-inline);
  padding-block-end: var(--section-padding-block-xl);
}
