.description-list {
  display: grid;
  grid-template-columns: max-content 1fr;
  background-color: var(--description-list-separator-color);
  gap: var(--description-list-gap);
  border-width: var(--description-list-border-width);
  border-style: var(--description-list-border-style);
  border-color: var(--description-list-border-color);
  margin: 0;
}

.description-list > dt,
.description-list > dd {
  background-color: var(--color-background-light);
  padding-block: var(--description-list-cell-padding-block);
  padding-inline: var(--description-list-cell-padding-inline);
  margin: 0;
}

.description-list > dt {
  font-family: var(--label-font-family);
  font-size: var(--label-font-size);
  font-weight: var(--label-font-weight);
  line-height: var(--label-line-height);
  color: var(--label-color);
  letter-spacing: var(--label-letter-spacing);
  text-transform: var(--label-text-transform);
}

.description-list > dd {
  font-family: var(--description-list-value-font-family);
  font-size: var(--description-list-value-font-size);
  font-weight: var(--description-list-value-font-weight);
  line-height: var(--description-list-value-line-height);
  color: var(--description-list-value-color);
}
